html{
    background-color: white;
}
h1{
    text-align: center;
    text-transform: uppercase;
    background-color: yellow;
    height: 45px;
    
/* Column container */
}
div{
    text-align: center;
    background-color: rgb(112, 110, 110);
    color: white;
    vertical-align: text-top;
    height: 40px;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
h5{
    flex: 30%;
}

p{
   flex: 30% ;
}
a hr{
    flex: 30%;
}
/* Main column */
p{
    position: relative;
    flex: 70%;

}
