* {
    box-sizing: border-box;
  }
  .column {
    float: right;
    padding: 10px;
    height: 300px; 
  }
.left {
    width: 75%;
  }
.right {
    width: 25%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
}
h1{
    text-align: center;
    text-transform: uppercase;
    background-color: yellow;
    height: 45px;
}